body {
  font-family: Arial, Helvetica, sans-serif;
}

.nav-items {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding: 10px 20px;
  gap: 1.5rem;
  justify-content: end;

  list-style: none;
  background: #f1f1f1;
}
